<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div fxFlex fxLayout fxLayout="row">
    <div fxLayout fxLayoutGap="25px" class="navigation-items">
      <a routerLink="/home" class="logo">FinFlow</a>
      <a routerLink="">Home</a>
      <a routerLink="/add-income">Add Income</a>
      <a routerLink="/add-expense">Add Expense</a>
      <a routerLink="/income-analysis">Income Analyse</a>
      <a routerLink="">Expense Analyse</a>
    </div>
  </div>
  
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <div fxLayout fxLayoutGap="15px" class="navigation-items">
      <a routerLink="/signin" *ngIf="!isUserLoggedIn" KeepSafe
        ><button mat-button mat-raised-button>SignIn</button></a
      >

      <a routerLink="/signup" *ngIf="!isUserLoggedIn"
        ><button mat-button mat-icon-button>SignUp</button></a
      >
      <button
        mat-flat-button
        color="basic"
        *ngIf="isUserLoggedIn"
        (click)="onLogOut()"
      >
        LogOut
      </button>
    </div>
  </div>
</mat-toolbar>
